<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lookup.sanye.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lookup.sanye.pojo.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="like_num" property="like_num"/>
        <result column="view_num" property="view_num"/>
        <result column="update_time" property="update_time"/>
        <result column="create_time" property="create_time"/>
        <result column="create_user" property="create_user"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, like_num, view_num, update_time, create_time, create_user
    </sql>
    <!-- 删除关联关系 -->
    <delete id="deleteArticleTags" parameterType="java.util.List">
        delete from sys_article_tags where article_id in
        <foreach collection="array" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>;
    </delete>
    <!-- 插入关联关系 -->
    <insert id="saveArticleTags" parameterType="java.util.Map">
        insert into sys_article_tags(article_id,tags_id) values
        <foreach collection="tagIds" item="item" separator="," close=";">
            (#{article_id},#{item})
        </foreach>
    </insert>
    <resultMap id="articleListMap" type="cn.lookup.sanye.pojo.Article">
        <id column="id" property="id"/>
        <collection property="tagsList" ofType="cn.lookup.sanye.pojo.Tags" select="getTagsByArticleId"
                    column="id"></collection>
    </resultMap>
    <!--查询文章列表-->
    <select id="getArticleList" resultMap="articleListMap">
        select
        <choose>
            <when test="isOverview!=null and isOverview==1">
                id,title,cover_url,like_num,view_num,update_time,create_time,create_user
            </when>
            <otherwise>
                *
            </otherwise>
        </choose>
        from sys_article
        <where>
            create_user=#{uid}
            <if test="keyWord!=null and keyWord!=''">
                and title like concat("%",#{keyWord},"%")
            </if>
        </where>
        order by create_time desc
    </select>
    <!--根据文章id查询关联的标签-->
    <select id="getTagsByArticleId" resultType="cn.lookup.sanye.pojo.Tags">
		SELECT t.*
		FROM sys_tags t,sys_article_tags cen
		WHERE t.id=cen.tags_id AND cen.article_id = #{article_id}
	</select>
</mapper>
