<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lookup.sanye.mapper.UploadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lookup.sanye.pojo.Upload">
        <id column="id" property="id"/>
        <result column="location" property="location"/>
        <result column="name" property="name"/>
        <result column="old_name" property="old_name"/>
        <result column="description" property="description"/>
        <result column="create_time" property="create_time"/>
        <result column="update_time" property="update_time"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, location, name, old_name, description, create_time, update_time
    </sql>
    <!--根据文件id集合批量更新失活文件-->
    <update id="delete" parameterType="java.util.List">
        update sys_upload set active = 0
        <where>
            id in
            <foreach collection="array" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
        </where>
    </update>
    <!--根据文件名集合批量更新失活文件-->
    <update id="deleteByFileNames" parameterType="java.util.List">
        update sys_upload set active = 0
        <where>
            position (location in <foreach collection="array" item="item" index="index" open="(" separator=","
                                           close=")">#{item}</foreach>) > 0
        </where>
    </update>
    <!--根据文件id集合批量激活文件-->
    <update id="active" parameterType="java.util.List">
        update sys_upload set active = 1
        <where>
            id in
            <foreach collection="array" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
        </where>
    </update>
    <!--根据文件名集合批量更新激活文件-->
    <update id="activeByFileNames" parameterType="java.util.List">
        update sys_upload set active = 1
        <where>
            position (location in <foreach collection="array" item="item" index="index" open="(" separator=","
                                           close=")">#{item}</foreach>) > 0
        </where>
    </update>
</mapper>
